.wrapper
  .side-bar
    .side__header
      %h3.header__name
        go
      %ul.side__icons
        %li.icon
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.icon
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
    .groups
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。
  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          %li.member
          Member：
          %li.member
          go

      .right-header
        = link_to "Edit", edit_group_path(@group), class: "right-header__edit_button edit__btn"
    .messages.js-messages
      .message{"message_id": "{message.id}"}
        = render @messages
      }

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
